/* styles.css */
body {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    width: 60%;
    margin: auto;
    background-color: #f0f0f0;
}
.main{
    text-align: center;
    /* height: 80vh; */
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator {
    width: 310px;
    background-color: #333;
    border-radius: 0.9em;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.screen {
    background-color: #111;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 12px;
}
.btn {
    background-color: #666;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.8em;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: #555;
}

.btn.orange {
    background-color: #ff8c00;
}
.btn.orange:hover {
    background-color: #c6710a;
}

#zero {
    grid-column: span 2;
    border-radius: 50px;
}

.btn.special {
    background-color: #d9d9d9;
    /* 這是一個稍微淺色的背景顏色 */
    color: #000;
    /* 文字顏色 */
    grid-column-start: 1;
    /* 使按鈕跨越整個網格列 */
    border-radius: 50px;
    grid-column: span 4;
    
}

.btn.btn.special:hover{
    background-color: #cdcdcddb;
}

.footer {
    color: #696969;
    text-align: center;
    margin: 20pt auto;
    line-height: 18pt;
}

.link a {
	color: inherit;
	text-decoration: none;
	box-shadow: inset 0 -.125em 0 0 #ababaa;
	
	transition-property: color;
	transition-duration: .25s;
	trasition-timing-function: cubic-bezier(0,0,.58,1);
}

.link a:hover {
	color: #ccc;
}

/* RWD 設計 */
@media only screen and (max-device-width :420px) {
    body {
        width: 98%;
    }
    .center-container {
        width: 99%;
    
    }

}

@media only screen and (min-device-width :420px) and (max-device-width :667px) {
    body {
        width: 85%;
    }
    .center-container {
        width: 99%;
    }
}